@import "bootstrap";
@import "font-awesome";

.booyah-box {
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -mox-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D1DEBF;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
    box-shadow: 10px 10px 5px grey;
}

.navbar-inverse .navbar-brand {
    color: #D1DEBF;
    font-family: 'gooddogregular';
    font-size: 50px;
    margin: 5px 30px 5px 10px;
    
}

.pagination {
    word-spacing: 5px;
    padding-top: 10px;
    margin: 5px;

}

.prev {
    word-spacing: 5px;
    margin-right: 5px;
}

.page {
    letter-spacing: 5px;    
}

.next {
    word-spacing: 5px;    
}

.first {
    margin-right: 5px;
}

.next {
    margin-right: 5px;
}

input {
    background-color:#D1DEBF;
    
}

